.i-n
{
    margin: 2rem;
}

.wrap-n
{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/city.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f1f1f1;
    height: 100%;
}

.people
{
    display: flex;
    flex-wrap: wrap;
}

.delete-npc 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.delete-npc input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.delete-npc button {
    background-color: rgb(153, 4, 4);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.create-npc 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.create-npc input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.create-npc button {
    background-color: rgb(37, 255, 102);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}


.update-npc 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.update-npc input[type="text"] 
{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.update-npc input[type="number"] 
{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.update-npc button 
{
    background-color: rgb(255, 161, 37);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}