.i-abs
{
    margin: 2rem;
}


.create-ability
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.create-ability input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.create-ability input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.create-ability button {
    background-color: rgb(37, 255, 102);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.update-ability
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.update-ability input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.update-ability input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.update-ability button {
    background-color: rgb(187, 151, 151);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.delete-ability
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.delete-ability input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.delete-ability input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.delete-ability button {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.assign-ability
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.assign-ability input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.assign-ability input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.assign-ability button {
    background-color: rgb(163, 192, 139);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.delete-class
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 25%;
}

.delete-class input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.delete-class input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.delete-class button {
    background-color: rgb(160, 0, 0);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.wrap-ap
{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/night.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f1f1f1;
    height: 100%;
}