.menu-title
{
    user-select: none;
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.title-frame
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

.select-button
{
    padding: 0.5rem 1rem;
    background-color: #550d0e;
    color: white;
    border: none;
    cursor: pointer;
    height: 5%;
    width: 20%;
    margin-bottom: 0.5rem;
}

.wrap-map
{
    background-image: url('../../assets/map.png');
    color: #550d0e;
}

