.split {
    display: flex;
    height: 100vh; /* This will make the split div take up the full height of the viewport */
  }
  
.gear, .consumable-div {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gear {
  background-color: #f0f8ff; /* AliceBlue for example */
}

.consumable-div {
  background-color: #faebd7; /* AntiqueWhite for example */
}

.create-gear, .create-consumable
{
  display: flex;
  flex-direction: column;
}  

.items
{
  display: flex;
  flex-wrap: wrap;
}

.item-type
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 25%;
}

.item-type input[type="text"] 
{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.item-type button 
{
  background-color: rgb(255, 161, 37);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.gear-button 
{
  background-color: rgb(4, 51, 153);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.consumable-button 
{
  background-color: rgb(201, 80, 0);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.delete-item
{
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 25%;
}

.delete-item input[type="text"] 
{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.delete-item button 
{
  background-color: rgb(160, 27, 27);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
